*{
    background-color:rgb(234, 210, 172)
}
button{
    border: 3px solid rgb(67, 129, 164);
    color: rgb(67, 129, 164);
    background-color: rgb(157, 175, 183);
    font-size:1.5em;
    border-radius:20%;
}
#main{
    text-align: center;
    height:150vh;
    width:100%;
}
#pregunta{
    position:relative;
    color:rgb(254, 147, 140);
    font-size:3.3em;
    overflow: hidden;
}
#p{position:relative;
    color:rgb(254, 147, 140);
    }
#scores{color:rgb(254, 147, 140);
}
